{# templates/task/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}タスク一覧{% endblock %}

{% block body %}
    <h1>タスク一覧</h1>

    <a href="{{ path('task_new') }}">新しいタスクを作成</a>

    <ul>
        {% for task in tasks %}
            <li>
                <a href="{{ path('task_edit', {'id': task.id}) }}">{{ task.title }}</a>
            </li>
        {% else %}
            <li>タスクがありません。</li>
        {% endfor %}
    </ul>
{% endblock %}
